@font-face {
	font-family: "HP_Simplified";
	src: url("fonts/HPSimplified_Rg.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font: 20px HP_Simplified;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	height: 150px;
	width: 100%;
	overflow: hidden;
	border-bottom: 3px solid #ccc;
}

#content {
	position: absolute;
	top: 155px;
	bottom: 75px;
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
	overflow: hidden;
	border-top: 3px solid #ccc;
}